.boards-container.MuiGrid-root{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    width: 2000px;
}


.board.MuiGrid-root{
    min-width: 350px;
    width: 350px;
    min-height: 200px;
    padding: 10px;
    margin-right: 2em;
}



.btn-add{
    width: 100%;
}

