.modal {
position: absolute;
  top: 0;
  left: 0;
}

.modal-body{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
    width: 90%;
    max-width: 500px;
    padding: 2em;
}

.details-form{
    padding-top: 2em;
}

.details-form .MuiButton-root, .task-form .MuiButton-root{
    float: right;
}

.form.MuiFormLabel-root{
    padding: 1em 0;
}

.details-form .MuiFormControl-root{
    padding-bottom: 2em;
}

.details-form .MuiFormControlLabel-root{
    margin-left: 0;
    margin-right: 5px;
}

.modal-body.edit-modal{
    top: 50%;
    transform: translate(-50%, -50%);
}

.task-input.MuiFormGroup-root{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 0;

}

.task-input label {
    padding-right: 1em;
}

.task-input label + .MuiInput-root{
    margin: 0;
}

