.MuiAvatar-circular {
    margin: 0 10px;
}

.search-bar{
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 0;
    background: #fff;
    padding: 0 1em;
    max-width: 1000px;
}

.search-bar .MuiTextField-root {
    width: 100%;
}

.search-bar .MuiInput-underline:before {
border: none;
}

@media (min-width: 600px) {
    .search-bar{
        margin: 0 1em;
        padding: 0 2em;
    } 
}